.trip-itinerary {
    display: flex;
    margin: 2rem 2rem;
    justify-content: space-between;
}

.itinerary-details-box {
    width: 70vw;
    text-align: center;
}

.trip-loader-container {
    height: 55vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}